

.cards-container {
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.product-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;


    &__input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        margin: 0 20px;
    }
    &__btn {
        text-decoration: none;
        // background-color: grey;
        background-color: dodgerblue;
        padding: 8px 12px;
        border-radius: 5px;
        color: white;
        box-shadow: 3px 3px 5px 1px rgb(46, 99, 39);
        border: none;
        transition:  0.5s ease-in;

    }
}

 @media screen and (max-width: 600px) {
    .product-search {
        justify-content: space-around;
         &__label {
        display: none;
         }
         &__input {
            width: 70%;
        }
    }
    .section-cards {
         &__products-count {
            margin: 5px;
            font-size: 1rem;
         }  
     }    

     .cards-container {
        grid-template-columns: none;
        justify-content: center;
        
   }
   
     
 } 

 @media screen and (min-width: 600px) {
    .product-search {
        &__input::placeholder {
            color:  white;
        }
     }
  
 } 

// @media screen and (min-width: 1000px) {
//     .section-cards{
//         &__header {
//             display: flex;
//         }
//     }
    
//}