.alert-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: $color-gb-primary;
    padding: 2rem 3rem;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition:  visibility linear 0.5s, opacity 0.5s linear;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &__exito {
        background-color: rgba(0, 214, 82, 0.795);
    }
    &__advertencia {
        background-color: rgba(176, 228, 56, 0.795);
    }
    &__error {
        background-color: rgba(219, 98, 98, 0.795);
    }
    &__info {
        background-color: rgba(98, 181, 219, 0.795);
    }


}

@media screen and (max-width: 600px) {
    .alert-dialog {
        font-size: 1rem;
        padding: 1rem 1rem;

    }



 } 

 .alert-question {
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: $color-gb-primary;
    padding: 2rem 3rem;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition:  visibility linear 0.5s, opacity 0.5s linear;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &__btn {
        background-color: rgb(14, 130, 74);
        font-size: 1.25rem;
        border: none;
        border-radius: 55px;
        color: white;
        margin: 10px 20px 0 20px;
        width: 70px;
        height: 50px;
    }

    &__btn:hover {
        background-color: rgb(64, 105, 85);
        border: 1px solid black;
       
    }
}