

.card {
    margin: 1rem;
    padding: 1rem;
    // border: 1px solid #666;
    background-color: rgba(125, 204, 111, 0.334);
    width: 280px;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(189, 183, 183);
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

    &__header {
        height: 170px;
        color: white;
        overflow: hidden;
        transition: 1s ease-in-out;
    }

    &__image {
        height: 170px;
        width: 100%;
        object-fit: cover;
    }

    &__image:hover {
        object-fit: contain;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        flex-grow: 1;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        border-bottom: 2px solid green;
    }

    &__description {
        padding: 1rem;
        padding: 0 8px;
        flex-grow: 1;
        // height: 300px;
        overflow: auto;
        // text-align: justify;
    }

    
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__date-price{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__date {
        color: rgb(23, 5, 185);
    }

    &__price {
        font-weight: 500;
        font-size: 1.25rem;
        color: $color-green-lehmann;
    }

    &__btn {
        text-decoration: none;
        background-color: dodgerblue;
        padding: 8px 12px;
        border-radius: 5px;
        color: white;
        box-shadow: 3px 3px 5px 1px black;
        transition:  0.5s ease-in;

    }

    &__btn:hover {
        background-color: rgb(11, 93, 175);
    }

    &__btn-detail {
        text-decoration: none;
        background-color: rgb(125, 182, 177);
        padding: 8px 12px;
        border-radius: 5px;
        color: black;
        box-shadow: 3px 3px 5px 1px black;
        transition:  0.5s ease-in;

    }
    
    &__btn-detail:hover {
        color: white;
    }


    &:hover {
        background-color: rgb(182, 190, 190);
        box-shadow: 5px 5px 10px rgba(19, 13, 13, 0.484);
        border-top: 3px solid blue;
        border-bottom: 3px solid blue;
    }

}

// .card:hover {
//     background-color: cadetblue;
//     box-shadow: 5px 5px 10px rgba(19, 13, 13, 0.484);
//     border-top: 3px solid blue;
//     border-bottom: 3px solid blue;
// }