
.whatsapp-container {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 2px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;

    &__btn{
        width: 70px;
        transition: ease 1s;
    }

}

.whatsapp-container:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

